<aside class="fixed top-16 left-0 w-72 h-[calc(100vh-4rem)] bg-white border-r border-gray-200 overflow-y-auto">
  <nav class="">
    <div class="h-full bg-white p-4">
      <h2 class="text-xl font-bold mb-4">Catégories de produits</h2>

      <!-- Search input -->
      <div class="mb-4">
        <input type="text"
               [(ngModel)]="searchTerm"
               (input)="onSearchChange($event)"
               placeholder="Rechercher une catégorie..."
               class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#009F7F] focus:border-transparent"
        >
      </div>

      <!-- Loading spinner -->
      <!-- <div *ngIf="loading" class="text-center py-4">
        <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-primary"></div>
      </div> -->
      <app-archive-blog-skeleton *ngIf="loading" [categoriesSkeleton]="true"></app-archive-blog-skeleton>

      <!-- Error message -->
      <div *ngIf="error" class="text-red-500 text-center py-4">
        {{ error }}
      </div>

      <!-- Categories list -->
      <div *ngIf="!loading && !error" class="space-y-1">
        <ng-container *ngFor="let category of filteredCategories">
          <a [routerLink]="['/products']" 
              routerLinkActive="text-[#009F7F]"
              [queryParams]="{category: category.id}"
              class="block py-2 px-3 text-gray-700 hover:bg-gray-100 rounded-md transition-colors">
            {{ category.name }}
            <span class="text-gray-500 text-sm">({{ category.count }})</span>
          </a>
          <!-- <a [routerLink]="['/category', category.id]"
             routerLinkActive="text-[#009F7F]"
             class="block py-2 px-3 text-gray-700 hover:bg-gray-100 rounded-md transition-colors">
            {{ category.name }}
            <span class="text-gray-500 text-sm">({{ category.count }})</span>
          </a> -->
        </ng-container>
      </div>
    </div>
  </nav>
</aside>
