<div class="max-w-4xl mx-auto space-y-8">
    <!-- Card Skeleton -->
    @if (cardSkeleton) {
        <div class="bg-white rounded-xl p-6 shadow-lg space-y-4">
            <div class="flex items-center space-x-4">
                <!-- Avatar Skeleton -->
                <div class="w-12 h-12 rounded-full animate-shimmer"></div>
                <!-- Name and Title Skeleton -->
                <div class="space-y-2 flex-1">
                    <div class="h-4 w-1/4 animate-shimmer rounded"></div>
                    <div class="h-3 w-1/3 animate-shimmer rounded"></div>
                </div>
            </div>
            <!-- Content Skeleton -->
            <div class="space-y-3">
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
            </div>
        </div>
    }

    @if (categoriesSkeleton) {
       
            <!-- Content Skeleton -->
            <div class="space-y-3 p-6">
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-full animate-shimmer rounded"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
            </div>
        
    }


    

    <!-- List Skeleton -->
    @if (listSkeleton) {
        <div class="bg-white rounded-xl p-6 shadow-lg space-y-4">
            <!-- List Item Skeletons -->
            <div class="space-y-4">
                <div class="flex items-center space-x-4">
                    <div class="w-8 h-8 rounded animate-shimmer"></div>
                    <div class="flex-1 h-4 animate-shimmer rounded"></div>
                </div>
                <div class="flex items-center space-x-4">
                    <div class="w-8 h-8 rounded animate-shimmer"></div>
                    <div class="flex-1 h-4 animate-shimmer rounded"></div>
                </div>
                <div class="flex items-center space-x-4">
                    <div class="w-8 h-8 rounded animate-shimmer"></div>
                    <div class="flex-1 h-4 animate-shimmer rounded"></div>
                </div>
            </div>
        </div>
    }
    

    <!-- Grid Skeleton -->
     @if (gridSkeleton) {
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Grid Item Skeletons -->
            <div class="bg-white rounded-xl p-4 shadow-lg space-y-3">
                <div class="w-full h-48 rounded animate-shimmer"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-3 w-1/2 animate-shimmer rounded"></div>
            </div>
            <div class="bg-white rounded-xl p-4 shadow-lg space-y-3">
                <div class="w-full h-48 rounded animate-shimmer"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-3 w-1/2 animate-shimmer rounded"></div>
            </div>
            <div class="bg-white rounded-xl p-4 shadow-lg space-y-3">
                <div class="w-full h-48 rounded animate-shimmer"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-3 w-1/2 animate-shimmer rounded"></div>
            </div>
            <div class="bg-white rounded-xl p-4 shadow-lg space-y-3">
                <div class="w-full h-48 rounded animate-shimmer"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-3 w-1/2 animate-shimmer rounded"></div>
            </div>
            <div class="bg-white rounded-xl p-4 shadow-lg space-y-3">
                <div class="w-full h-48 rounded animate-shimmer"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-3 w-1/2 animate-shimmer rounded"></div>
            </div>
            <div class="bg-white rounded-xl p-4 shadow-lg space-y-3">
                <div class="w-full h-48 rounded animate-shimmer"></div>
                <div class="h-4 w-3/4 animate-shimmer rounded"></div>
                <div class="h-3 w-1/2 animate-shimmer rounded"></div>
            </div>
        </div>
     }
    
</div>